:root{
    --prussian-blue: #203a58ff;
    --powder-blue: #8da9c4ff;
    --peach: #ffe2b3;
    --sienna: #932B19ff;
    --coffee: #755544ff;
    --valid-green: #609966;

    margin: 0px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 1fr 4fr;

}

header{
    
    background:
        url(assets/library-header.webp)
        center center
}

.sidebar{
    background-color: var(--prussian-blue);
    grid-row: 1 / -1;

    color: white;
    font-size: 2rem;
    padding: 0px 40px;
}

.sidebar>h1{
    margin-top: 100px;
    font-size: 3rem;
    text-align: center;
    
}

form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input.bar{
    border-radius: 25px;
    padding: 5px 5px 5px 15px;
    
    font-size: 1.5rem;
    
}
input.checkbox{
    padding: 10px;
}



.add-button{
    background-color: transparent;
    border: none;
    color: white;
}

.add-button:hover{
    background-color: white;
    border-radius: 15px;
    padding: 5px 20px;
    color: var(--prussian-blue);
    
}

.shelf{
    display: grid;
    
}
.empty-shelf{
    place-self: center;
    width: 250px;
    font-size: 2rem;
    text-align: center;
    color: var(--coffee)
}

.shelf.filled{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 6fr));
    gap: 60px;
    margin: 50px;
}

.bookCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--peach);
    border: 2px solid transparent;
    text-align: center;
    font-size: 2rem;
    aspect-ratio: 1 / 1.5;
    padding: 50px;
    background-image: url(assets/book-placeholder.webp);
    background-size: cover;
    background-position: center;

}

.bookWithImage{
    
    background-size: cover;
    background-position: center;
    
}

.bookIsRead{
    padding: 20px 10px;
    border-radius: 15px;
    background-color: var(--valid-green);
}
.bookIsNotRead{
    padding: 20px 10px;
    border-radius: 15px;
    background-color: var(--sienna);
}









.shelf{
    background-color: white;
    grid-row: 2 / span 2;
    
}